* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
}

#container {
    margin-top: 10rem;
    width: 70%;
}

#images {
    display: flex;
    overflow-x: auto;
}

div.img {
    /* display: inline-block; */
    height: 50vh;
    flex: 0 0 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.15s ease;
}

#images input {
    display: none;
}

.m1 {
    background-image: url(images/headerslide1.jpg);
}

.m2 {
    background-image: url(images/headerslide2.jpg);
}

.m3 {
    background-image: url(images/headerslide3.PNG);
}

.m4 {
    background-image: url(images/headerslide4.jpg);
}

#dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    
}

#dots label:hover  {background: #fff;}


#images input:checked ~ .img {

}