* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
}

.checked, #dots label:hover { background: #fff; } /* for javascript! */

#container {
    margin-top: 10rem;
    width: 70%;
}

#images {
    display: flex;
    overflow-x: hidden;
}

div.img {
    /* display: inline-block; */
    height: 50vh;
    flex: 0 0 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.15s ease;
}

#images input {
    display: none;
}

.m1 {
    background-image: url(images/headerslide1.jpg);
}

.m2 {
    background-image: url(images/headerslide2.jpg);
}

.m3 {
    background-image: url(images/headerslide3.PNG);
}

.m4 {
    background-image: url(images/headerslide4.jpg);
}

#dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
    
}

#img1:checked ~ .m1 {
    margin-left: 0;
}

#img2:checked ~ .m2 {
    margin-left: -100%;
}

#img3:checked ~ .m3 {
    margin-left: -200%;
}

#img4:checked ~ .m4 {
    margin-left: -300%;
}