* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
}

html { font-size: 62.5%;}

a {
    color: black;
    text-decoration: none;
}

#accessservices {
    position: relative; 
    width: 80%; 
    margin: auto; 
    overflow: ;
}

#accessservicescont {
    width:;
    margin: 5rem 0 10rem;
    display: flex;
    justify-content: space-between;
    overflow-x: ;
    transition: all 0.3s ease;
}

#accessservicescont > * {
    text-align: center;
    padding: 1.5rem 2rem;
    border-right: 1px lightgray solid;
    flex: 0 0 33%;
}

#accessservicescont > a:nth-of-type(3), #accessservicescont > a:nth-of-type(6) {border: none;}

#accessservicescont > *:hover {
    color:  rgb(26, 104, 165);
}

#accessservicescont h3 {
    margin: 1.5rem 0 1rem;
    font-size: 1.9rem;
}

#accessservicescont p {
    font-size: 1.5rem;
}

.arr {
    position: absolute;
    top: 40%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
    opacity: .2;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.larr { left: 2%;}

.rarr { right: 2%;}

.rightslide {transform: translate(-100%,0) !important;}

.leftslide {transform: translate(100%,0) !important;}