* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.fixed {
    position: fixed;
    right: 0;
    top: 50%;
}

#nav1 {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

#nav1 > div > a/*:not(a:last-child)*/ {
    padding: .3rem 1rem;
    border-right: solid lightgray 1px;
    color: lightgray;
    font-weight: bold;

}

#nav1 > div > a:last-child { border: none;}

#nav2 > * {
    display: inline-block;
    text-align: center;
}

