* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

.fixed {
    position: fixed;
    right: 0;
    top: 50%;
}

#nav1 {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

#nav1 > div > a/*:not(a:last-child)*/ {
    padding: .3rem;
    border-right: solid gray 1px;
}

#nav2 > * {
    display: inline-block;
    text-align: center;
}