* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Calibri, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 1rem;
    border: 2px solid white;
}

.fixed {
    position: fixed;
    right: 0;
    top: 50%;
}

#nav1 {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

#nav1 > div > a {
    padding: .3rem 1.2rem;
    border-right: solid lightgray 1px;
    color: lightgray;
    font-size: 1.14rem;
    font-weight: bold;
}

#nav1 > div > a:hover {color: orangered;}

#nav1 > div > a:last-child { border: none;}

#nav2 {background-color: lightgray;}

#nav2 > div {
    width: 80%;
    margin: auto;
    display: flex;
}

#nav2 > div > * {
    text-align: center;
    border-right: solid white 1px;
    border-left: solid white 1px;
    color: #656565;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
}

#nav2 > div > a:nth-last-of-type(2) {border-right: none;}

#nav2 span { border: none;}

#nav2 input {
    height: 3rem;
    width: 65%;
    padding: 0 3rem 0 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1.5rem gray inset;
}

#nav2 input:focus  { outline: none;}

#nav2 span > a { margin-left: -11%;}

#nav2 > div > a:hover, #nav2 #active {
    background: orangered;
    color: white;
}

.checked, #dots label:hover { background: #fff; } /* .checked for javascript! */

#slidecontainer {
    position: relative;
    height: 90vh;
}

#images {
    display: flex;
    overflow-x: hidden;
    height: 90%;
}

div.img {
    flex: 0 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    transition: all 0.5s ease;
    padding: 6rem 0 0 8rem;
}

.img h1 { 
    font-size: 5rem; 
    font-family: Calibri, sans-serif;
    font-weight: 1000; 
    white-space: pre;
    }

.img button {
    transition: all .6s ease;
    display: block;
    overflow-x: hidden;
    width: 9.5%;
    white-space: nowrap;
    text-align: center;
    white-space: pre;
    background: rgb(26, 104, 165);
    color: white;
    margin-top: 2rem;
}

.img button:hover {width: 11.5%;}

#images input {display: none;}

.m1 {
    background-image: url(images/headerslide1.jpg);
    color: white;
}

.m1 h2 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: -1rem;
}

.m1 p, .m1 i {
    display: block;
    font-size: 1.9rem;
    white-space: pre;
    margin-top: 1rem;
}

.m2 {background-image: url(images/headerslide2.jpg);}

.m2 h1 {
    color: orangered;
    margin-bottom: 1rem;
}

.m2 h4, .m2 p {
    white-space: pre;
    font-size: 2rem;
    margin-top: 1rem;
}

.m2 p { font-weight: 100;}

.m2 button { margin-top: 2rem;}

.m3 {background-image: url(images/headerslide3.PNG);}

.m3 h1 {color: orangered;}

.m3 p {
    font-size: 1.7rem;
    color: white;
    margin: .7rem 0 3rem 0;
    font-weight: bold;
}

.m3 button {
    background-color: transparent;
    border-color: black;
    color: black;
}

.m4 {background-image: url(images/headerslide4.jpg);}

.m4 h1 {color: blue;}

.m4 p {
    font-size: 1.7rem;
    white-space: pre;
    margin: .7rem 0 3rem 0;
}

.m5 {background-image: url(images/headerslide5.PNG);}

.m5 p {
    font-size: 1.7rem;
    white-space: pre;
    margin-top: 1rem;
}

.m5 p:last-of-type {
    color: orangered;
    margin: 0 0 1rem 0;
}

.m5 button {
    background-color: transparent;
    border-color: black;
    color: black;
}

.m6 {background-image: url(images/headerslide6.PNG);}

.m6 h1 {
    color: rgb(181, 211, 52);
    white-space: pre;
    line-height: 5rem;
}

.m6 button {
    background-color: rgb(181, 211, 52);
    color: black;
    border-color: black;
}

.m7 {
    background-image: url(images/headerslide7.PNG);
    color: white;
}

.m7 h1{
    line-height: 5rem;
    color: rgb(181, 211, 52);
}

.m7 h1 span {
    color: white;
    font-weight: 100;
}

.m7 p {
    font-size: 1.9rem;
    white-space: pre;
    font-weight: ;
    margin: .9rem 0 3rem 0;
}

#dots {
    display: flex;
    justify-content: center;
    margin: 5px;
    position: absolute;
    bottom: 30%;
    left: 5%;
}

#dots label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid #fff 1.5px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 5px;  
}

#img1:checked ~ .m1 { margin-left: 0;}

#img2:checked ~ .m2 { margin-left: -100%;}

#img3:checked ~ .m3 {margin-left: -200%;}

#img4:checked ~ .m4 {margin-left: -300%;}

#img5:checked ~ .m5 {margin-left: -400%;}

#img6:checked ~ .m6 {margin-left: -500%;}

#img7:checked ~ .m7 {margin-left: -600%;}




#itemsonslide {
    position: absolute;
}